doctype html
html(lang="en" ng-app="app")
  head
    title Node-Angular
    link(href="/css/bootstrap.min.css" rel="stylesheet" type="text/css")
    link(href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css")
    
    script(src="/packages/angular/angular.min.js")
    script(src="/scripts/client.js")
    //- link(href="/css/home.css" rel="stylesheet" type="text/css")
  body(ng-controller="testController as test") {{test.text}}
          
    script(src="/packages/jquery/dist/jquery.min.js")
    script(src="/scripts/bootstrap.min.js")
    script(src="/scripts/test.js")
